html, body {
  margin: 0;
  padding: 0;
  background-color: #E8E8E8;
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}

button {
  padding: 8px;
  border: 1px solid #D0D0D0;
  border-radius: 3px;
  background-color: #F5F5F5;
  font-weight: bold;
  font-size: 11px;
}

button:hover {
  border: 1px solid #929292;
}

header {
  background-color: white;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  border-bottom: 1px solid #C5C5C5;
}

.head1 {
  float: left;
  width: 150px;
  height: 60px;
}

.head2 {
  width: 600px;
  height: 60px;
  margin: 10px auto 0px;
}

.head3 {
  float: right;
  width: 180px;
  height: 60px;
  margin-top: -80px;
}
.head1 img {
  float: left;
  margin-top: -15px;
}

.head3 img {
  margin: 20px 5px 0px;
}

.profile {
  border-radius: 50px;
}

.head3 button {
  float: left;
  margin: 20px 5px 0px;
}

#list {
  float: left;
}

.search {
  margin: -55px auto 0px;
  width: 500px;
  border: 1px solid #DADAC8;
  height: 30px;
}

.content {
  width:1020px;
  height: 1300px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  float: left;
  margin-top: 70px;
}

.video {
  background-color: white;
  width:600px;
  height: 450px;
}

.info {
  background-color: white;
  width:600px;
  height:170px;
  margin:10px 0px;
  box-shadow: -1px 1px 2px #BBBBBB;
}

.info h2 {
  padding-top: 5px;
  margin-left: 15px;
  font-weight: normal;
}

.info1, .info2 {
  width: 95%;
  height: 50px;
  margin: auto;
  padding: 2px;
}

.divider {
  width: 95%;
  height: 0px;
  margin: auto;
  border-top: 1px solid #CFCFCF;
}

.generic {
  float: left;
}

.uploader {
  float: left;
  font-size: 10px;
  font-weight: bold;
  margin-left: 10px
}

.subscribe {
  float: left;
  background-color: red;
  color: white;
  margin-left: -80px;
  margin-top: 3px;
}

.views {
  float: right;
  margin-top: 0px;
  font-size: 25px;
}

.info2-1 {
  margin-top: 20px;
  float: left;
}

.info2-2 {
  margin-top: 20px;
  margin-right: -20px;  
  float: right;
}

.info2 a {
  margin: 10px;
  color: #B5B5B5;
  text-decoration: none;
}

.info2 a:hover {
  margin: 10px;
  color: #8B8B8B;
  text-decoration: none;
}

.moreinfo {
  background-color: white;
  width:600px;
  height:160px;
  margin:10px 0px;
  box-shadow: -1px 1px 2px #BBBBBB;
}

.moreinfo p:first-of-type {
  font-size: 14px;
  margin-top: -10px;
}

.moreinfo h5 {
  padding-top: 10px;
}

.moreinfo p, h5 {
  margin-left: 15px;
}

.comments {
  background-color: white;
  width:580px;
  height:150px;
  margin:10px 0px;
  box-shadow: -1px 1px 2px #BBBBBB;
  padding: 10px;
}

.profile-square {
  float: left;
}

.comments textarea {
  margin-left: 10px;
  float: left;
}

.previews {
  background-color: white;
  width:400px;
  height:1150px;
  margin-left: 20px;
  padding-top: 5px;
  box-shadow: -1px 1px 2px #BBBBBB;
}

.preview-video {
  width: 95%;
  height: 110px;
  margin: auto;
  margin-bottom: 10px;
}

.preview-video img {
  float: left;
  margin-right: 10px;
}

.preview-video p {
  margin: 5px;
  font-size: 14px;
}

.show-more {
  text-align: center;
}

footer {
  background-color: white;
  width: 100%;
  height: 130px;
  position: relative;
  margin-bottom: 0px;
  margin-top: 50px;
  border-top: 1px solid #C5C5C5;
}

.foot1 {
  width: 95%;
  height: 50px;
  margin: auto;
  padding: 2px;
}

.foot2, .foot3 {
  width: 95%;
  height: 25px;
  margin: auto;
  padding: 2px;
}

footer img {
  float: left;
  margin-top: -10px;
}

.options {
  float: left;
  margin-top: 10px;
  font-weight: normal;
  margin-right: 10px;
}

.foot2 a {
  float: left;
  margin-right: 30px;
  margin-top: 10px;
  color: #484848;
  text-decoration: none;
  font-weight: bold;
}

.foot3 a {
  float: left;
  margin-top: 10px;
  margin-right: 30px;
  color: #484848;
  text-decoration: none;
}